MONGODB_PROTOCOL=mongodb
MONGODB_USER=user
MONGODB_PASS=password
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_NAME=mb-db
SERVICE_NAME=claim-service
SERVICE_PORT=3000
SERVICE_API_PREFIX=/api
ENV=develop
JWT_SECRET=yoursecret
